<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fcfm.photopet">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application

        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:icon="@drawable/ic_iconcamera2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_iconcamera2"
        android:supportsRtl="true"
        android:name=".utils.UserApplication"
        android:theme="@style/Theme.PhotoPet">
        <activity
            android:name=".controller.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.LoginActivity"
                  android:label="@string/app_name"/>
        <activity android:name=".controller.RegisterActivity"
                  android:label="@string/app_name"/>
        <activity android:name=".controller.FragmentsActivity"
                  android:label="@string/app_name"/>
        <activity android:name=".controller.CreatePostActivity"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".controller.PostActivity"
                  android:label="@string/app_name"/>
    </application>

</manifest>